
<mat-card >
    <h1>Criar nova Postagem</h1>
</mat-card>

<div class="box-container">

    <mat-card class="card-box" (click)="openMensageDialog()">
        <span  class="material-icons icons-style">
            slideshow
        </span>
        <mat-card-title>Criar Slide</mat-card-title>
    </mat-card>

    <mat-card class="card-box" (click)="openStoryDialog()">
        <span class="material-icons icons-style">
            more_time
        </span>
        <mat-card-title>Criar Story</mat-card-title>
    </mat-card>

    <mat-card class="card-box" (click)="openFeedDialog()">
        <span  class="material-icons icons-style">
            post_add
        </span>
        <mat-card-title>Criar Feed</mat-card-title>
    </mat-card>

</div>
