table {
	width: 100%;
}

table td{
	height: 100px;
}
table th{
	text-align: center;
}

.table-content{
  	margin: 10px 0px;
    min-height: 68vh;
    border:solid 1px rgba(236, 236, 236, 0.76);
}

.thumb-table{
	width: 70px;
	height: 70px;
	border: 2px solid rgb(248, 248, 248);
}

mat-paginator{
  	width: 100%;
  	position: relative;
	top: 100%;
  	bottom: 0px !important;
    
}








